@import url('https://fonts.googleapis.com/css?family=Aleo:400,400i|Raleway:400,600');

* {	margin: 0;	padding: 0;	box-sizing: border-box;	}

body {
	color: #5D5D5D;
	font-family: "Raleway", sans-serif;
	line-height: 1.75;
	letter-spacing: .45px;
	font-weight: 100;
	font-size: 15px;
}

header {
	background-color: white;
	padding: .7em 0;
  	box-shadow: 1px 1px 1px rgba(0, 0, 0, .06);
}

header img {
	float: left;
	height: .1875em;
	margin-left: 2em;
	margin-right: .3em;
	padding-top: .9em;
	width: 15em;
	height: auto;
}

nav {
	color: #5D5D5D;
	font-family: 'Raleway', sans-serif;
	font-size: .87em;
	font-weight: 800;
	text-align: center;
	margin-right: 2em;
	float: right;
}

nav a {
	float: left;
	text-align: center;
	padding-top: 2.35em;
	padding-bottom: .53333em;
	border-bottom: 2px solid #fff;
	display: inline-block;
	color: #5D5D5D;
	letter-spacing: 1px;
	margin-left: 2.35em;
	text-decoration: none;
}

/*nav a:link {
	color: #5D5D5D;
	letter-spacing: 1px;
	margin-right: 30px;
	text-decoration: none;*/
}

nav a:visited {
	color: #5D5D5D;
}

nav a:hover {
	color: black;
	border-bottom: 2px solid;
}

nav a:active {
	color: black;
}

h1 {
	line-height: 1;
	color: black;
	font-family: 'Aleo', serif;
	font-size: 3.334em;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 2.5rem;
}

h2 {
	line-height: 1.1;
	color: black;
	font-family: 'Aleo', serif;
	/*font-size: 35px;*/
	font-size: 2.1875rem;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 2.5rem;
}

hr {
	width: 3.125rem;
	background-color: #dd8e65;
	border: none;
	height: 3px;
	margin: 1.25rem auto;
}

blockquote {
	color: black;
	/*font-size: 35px;*/
	font-size: 2.1875rem;
	font-weight: 400;
	max-width: 800px;
	margin: auto;
	padding: 3em 2em;
}

cite {
	font-style: normal;
	/*font-size: 15px;*/
	font-size: .9375rem;
}

footer {
	background-color: black;
	padding: 3.125rem; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding-top: 6.375rem;
}

.hamburger {
	display: none;
	cursor: pointer;
	/*font-size: 25px*/
	font-size: 1.5625rem;
	margin-top: 1.0625rem;
	margin-right: 1.25em;
	color: black;
	float: right;
}

.hamburger:hover {
	opacity: 0.7;
}

.hamburger:active {
	opacity: 0.7;
}

#toggle {
	display: none;
}

.wrapperheader {
    max-width: 1200px;
    margin: auto;
}

.bottommargin {
	margin-bottom: 2.5rem;
}

.headerbutton {
	background-color: #1c2236;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	/*font-size: 13px;*/
	font-size: .8125rem;
	font-weight: 800;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: right;
	padding: .7692em 1.5385em;
	border-radius: 2px;
	float: right;
	margin-top: 1.55em;
	margin-bottom: 1.3333em;
  	/*border: 1.5px solid black;*/
}

.homeanchor {

}

.headerbutton a {
	color: white;
	text-decoration: none;
}

.headerbutton:hover {
	color: white;
	background-color: black;
	border-bottom: 2px solid #fff;
}

.headerbutton:active {
	color: white;
}

.abovethefold {
	background-image: url(../images/jessica-ruscello-120993-unsplash_HOMEPAGE_rev_blue.jpg);
	background-size: cover;
}

.wrapperabovethefold {
    max-width: 1200px;
    margin: auto;
}

#abovethefoldcolumnleft {
    float: left;
    width: 45%;
    padding: 8em 0 8em 0em;
    margin-left: 2em;
}

#abovethefoldcolumnright {
    float: left;
    width: 50%;
    padding: 8em 0 0 0;
}

.bluebutton {
	display: inline-block;
	background-color: #005c5e;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	/*font-size: 13px;*/
	font-size: .8125rem;
	font-weight: 800;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
	padding: .7692em 1.5385em;
	margin-top: .5rem;
	margin-bottom: 1.25rem;
	border-radius: 2px;
	margin-right: .9375rem;
}

.bluebutton:hover {
	background-color: #003f40;
}

.bluebuttonfloat {
	float: left;
}

.vl {
  border-left: .75px solid #5d5d5d;
  height: 4rem;
  position: absolute; 
  left: 50%;
  top: 825px;
}

.bluebuttonoutline {
	display: inline-block;
	background-color: white;
	border: 2px solid #005c5e;
	color: #005c5e;
	font-family: 'Raleway', sans-serif;
	/*font-size: 13px;*/
	font-size: .8125rem;
	font-weight: 800;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
	padding: .625rem 1.25rem;
	margin-top: .5rem;
	margin-bottom: 1.25rem;
	border-radius: 3px;
}

.bluebuttonoutline:hover {
	color: #003f40;
	border: 2px solid #003f40;
	background-color: #edf1f2;
}

.SectionWhatIsReiki, .SectionWhyReiki {
	text-align: center;
	max-width: 800px;
    margin: auto;
    padding: 8em 4em;
}	

.SectionTestimonial {
	background-color: #f8eddf;
	text-align: center;
	font-style: italic;
	width: 100%;
    margin: auto;
}

.wrapperaboutme {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 6.25rem;
}

#aboutmecolumn {
    float: left;
    width: 50%;
    padding: 8em 0 8em 3em;
}

/*#rightaboutme img {
	max-width: 100%;
	padding-left: 50px;*/

.Module3Question {
	font-style: italic;
}

.wrapperfooter {
    max-width: 1200px;
    margin: auto;
}

.emailfield {
	display: inline-block;
	background-color: black;
	text-align: left;
	border: 1px solid white;
	padding: .625rem 1.25rem;
	border-radius: 2px;
	margin-right: .3125rem;
}

.signupbutton {
	display: inline-block;
	background-color: white;
	color: black;
	font-family: 'Raleway', sans-serif;
	/*font-size: 13px;*/
	font-size: .8125rem;
	font-weight: 800;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
	padding: .625rem 1.25rem;
	border-radius: 2px;
	margin-right: .3125rem;
}

.signupbutton:hover {
	background-color: #ccc;
}

#leftfooter {
    float: left;
    width: 50%;
}

#rightfooter {
    float: right;
    width: 50%;
    text-align: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.StayConnectedHeader {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: white;
	/*font-size: 15px;*/
	font-size: 1.5em;
	margin-bottom: .625rem;
}

.StayConnectedCopy {
	font-family: 'Raleway', sans-serif;
	color: white;
	/*font-size: 13px;*/
	font-size: .8125rem;
	margin-bottom: 1.25rem;
}

.footerlinks {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-decoration: none;
	/*font-size: 13px;*/
	font-size: .8125rem;
}

.socialmedialinks {
	width: 1.875rem;
	margin-top: 1.25rem;
}

@media only screen and (max-width: 1319px) {


}

@media only screen and (max-width: 1200px) {
	footer {
		background-color: black;
		padding: 3.125rem 2rem; 
	}
}

@media only screen and (max-width: 1099px) {
	#abovethefoldcolumnleft {
	    float: none;
	    width: 100%;
	    max-width: 800px;
	    padding: 8em 4em;
	    margin: auto;
	    text-align: center;
	}

	#abovethefoldcolumnright {
		display: none;
	}
}

@media only screen and (max-width: 864px) {
	.hamburger {
		display: inline-block;
	}

	header img {
		padding-bottom: .85em;
	}

	nav { 
		display: none;
		margin-left: none;
	}

	nav a {
		float: none;
		display: block;
		margin: 0;
		padding-top: 2.35em;
		padding-bottom: .53333em;
		border-bottom: none;
		color: white;
	}

	nav a:visited {
		color: white;
	}

	nav a:hover {
		color: #e3c090;
		border-bottom: none;
	}

	nav a:active {
		color: #e3c090;
	}

	#toggle:checked + nav {
		float: none;
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-right: 0;
		background: #1c2236;
	}

	.headerbutton {
		display: inline-block;
		background-color: #c16261;
		color: white;
		font-family: 'Raleway', sans-serif;
		/*font-size: 13px;*/
		font-size: .8125rem;
		font-weight: 800;
		text-decoration: none;
		letter-spacing: 1px;
		text-align: center;
		padding: .7692em 1.5385em;
		border-radius: 2px;
		float: none;
		margin-top: 1.55em;
		margin-bottom: 2.35em;
	  	/*border: 1.5px solid black;*/
	}

	.headerbutton a {
		color: white;
		text-decoration: none;
	}

	.headerbutton:hover {
		color: white;
		background-color: #95504f;
		border-bottom: none;
	}

	.headerbutton:active {
		color: white;
		background-color: #95504f;
	}
}

@media only screen and (max-width: 667px) {

	#leftfooter {
	    float: none;
	    width: 100%;
	    text-align: center;
	    margin-bottom: 4em;
	}

	#rightfooter {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
}

@media only screen and (max-width: 531px) {
	body {
		font-size: 14px;
	}

	h1 {
		line-height: 1.1;
		font-size: 3.1em;
		margin-bottom: 2.5rem;
	}

	h2 {
		line-height: 1.2;
		/*font-size: 35px;*/
		font-size: 2.1rem;
		margin-bottom: 2.5rem;
	}

	.bluebutton {
		font-size: .79rem;
	}

	#abovethefoldcolumnleft {
	    padding: 8em 2em;
	}

	.SectionWhatIsReiki, .SectionWhyReiki {
	    padding: 8em 2em;
	}	

	.bluebuttonoutline {
		font-size: .79rem;
	}

	blockquote {
		font-size: 1.9rem;
		padding: 3em 1.6em;
	}

	cite {
		font-size: 14px;
	}

	.SectionTestimonial {
		line-height: 1.5;
	}

	.StayConnectedHeader {
		font-size: 1.35em;
	}

	.StayConnectedCopy {
		font-size: 12px;
		margin-bottom: 1.25rem;
	}

	.signupbutton {
		font-size: .79rem;
	}

	.footerlinks {
		font-size: 12px;
	}
}

@media only screen and (max-width: 413px) {
	h1 {
		line-height: 1.1;
		font-size: 2.75em;
		margin-bottom: 2.5rem;
	}

	h2 {
		line-height: 1.2;
		/*font-size: 35px;*/
		font-size: 1.8rem;
		margin-bottom: 2.5rem;
	}
}

@media only screen and (max-width: 409px) {
	.bluebutton {
		display: block;
		font-size: .79rem;
		float: none;
	}
	.bluebuttonoutline {
		display: block;
	}

	.emailfield {
		display: block;
		text-align: center;
		margin-bottom: 1em;
	}

	.signupbutton {
		display: block;
	}
}

@media only screen and (max-width: 391px) {
	blockquote {
		font-size: 1.7rem;
		padding: 3em 1.6em;
	}

	cite {
		font-size: 13px;
	}
}

@media only screen and (max-width: 344px) {

}












