body {
	color: black;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

header {
	background-color: white;
	padding: 40px
}

.abovethefold {
	text-align: left;
	background-size: cover;
	background-image: url(images/jessica-ruscello-120993-unsplash_HOMEPAGE.jpg);
	background-image: 100%
}

.abovethefoldimage {
	width: 100%
}

.Module1, .Module2, .Module3 {
	text-align: center;
	margin-bottom: 50px;
}	

.Module2 {
	background-color: #919e95;
	padding: 50px;
	font-style: italic;
	color: white;
}

.Module3Question {
	font-style: italic;
}

.Quotecopy {
	font-size: 35px;
	font-weight: 400;
}

.Quoteperson {
	font-style: normal;
}	

nav a {
	margin-right: 15px;
	text-align: center;
}

h1 {
	font-family: Dosis, sans-serif;
	font-size: 35px;
	font-weight: 400;
}

p {
	font-weight: 100;
	font-size: 15px;
}

hr {
	width: 50px;
	background-color: white;
	border: none;
	height: 3px;
}

footer {
	background-color: #f4f4f4;
	padding: 50px; 
	text-align: right;
}

}